.container {
  text-align: center;
}

table {
  margin: auto;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 50px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid black;
}

@media (max-width: 430px) {
  th, td {
    font-size: 8px;
    padding: 5px 0px;
  }

  button {
    font-size: 5px;
  }
}