.container {
  text-align: center;
}

.form-group {
  margin-top: 50px;
}

.form-control {
  padding: 10px;
  width: 40%;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 3px;
  appearance: none;
}

.submit-btn {
  padding: 5px;
  width: 20%;
  height: 30px;
  border: none;
  border-radius: 3px;
  background: #EC615C;
  color: #fff;
  cursor: pointer;
}

.bottom__btn {
  display: block;
  text-align: center;
  margin: 50px 0;
}

@media (max-width: 430px) {
  h1.manager-title {
    font-size: 20px;
  }

  .form-group {
    margin-top: 20px;
  }

  .container p {
    font-size: 13px;
  }

  .submit-btn {
    padding: 2px;
    font-size: 10px;
    height: 25px;
  }

  .bottom__btn {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .form-control {
    font-size: 10px;
  }

  .container p {
    font-size: 14px;  /* フォントサイズを小さく */
    margin: 8px 0;   /* マージンを調整 */
    padding: 0 10px;
  }
}