.header {
  background: #000;
}

.header__inner {
  margin: 0 auto;
  padding: 5px 10px;
  max-width: 1230px;
  height: 50px;
}

.message-title {
  text-align: center;
}

form.form {
    display: flex;
    justify-content: center;
    align-items: center;
}



.form-group {
    margin-right: 10px; /* 要素間の間隔を調整 */
}

.form-group input {
    display: inline-block;
    width: auto; /* 必要に応じて調整 */
}

.btn {
    display: inline-block;
}

@media (max-width: 375px) {
  .form-group input {
    display: inline-block;
    width: 80%; /* 必要に応じて調整 */
    font-size: 10px;
}
.form-group {
    margin-right: 0px; /* 要素間の間隔を調整 */
}
.btn {
    width: 30%;
    font-size: 15px;
}
}


.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.form-control:focus {
  border-color: #007bff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.table-container {
  text-align: center;
}

table {
  margin: auto;
  border-collapse: collapse;
  margin-bottom: 50px;
}

th, td {
  padding: 10px;
  border: 1px solid black;
}

.item-name {
  text-align: center;
  color: #87CEFA;

}

@media (max-width: 375px) {
  table {
  width: 90%;
}

table td {
  font-size: 10px;
}
}