.register-form__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.register-form__heading {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 25%;
  text-align: center;
}

.form__group {
  margin-bottom: 5px;
}

.form__group-title {
  text-align: left;
  font-weight: bold;
}

.form__error {
  height: 20px;
  color: #ff0000;
  text-align: left;
  font-size: 15px;
}

.form__input--content input {
  padding: 10px;
  width: 100%;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 3px;
  appearance: none;
}

.form__button {
  margin-top: 20px;
}

.form__button-submit {
  padding: 5px;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 3px;
  background: #EC615C;
  color: #fff;
  cursor: pointer;
}

.form__button-submit {
  text-decoration: none;
  color: #fff;
}

.login__link {
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 768px) and (min-device-height: 768px) {
  .form__group-title {
    font-size: 10px;
  }

  .register-form__heading {
    font-size: 12px;
  }

  .form__input--content input {
    height: 20px;
  }

  .login__link  {
    font-size: 10px;
  }

  .form__error {
    font-size: 15px;
  }

  .form__button-submit {
    padding: 3px;
    font-size: 10px;
    height: 20px;
  }
}

@media (max-width: 430px) {
  .form {
    width: 50%;
  }

  .form__input--content input {
    height: 25px;
  }

  .form__error {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .register-form__heading {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
  }

  .form__error {
    font-size: 10px;
  }
}
