.header {
  background: #000;
}

.header__inner {
  margin: 0 auto;
  padding: 5px 10px;
  max-width: 1230px;
  height: 50px;
}

.sell-form__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.sell-form__heading {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

.form__group {
  margin-bottom: 5px;
}

.form__group h2 {
  text-align: left;
  color: #878787;
  border-bottom: 1px solid #878787;
}

.form__group-title {
  text-align: left;
  font-weight: bold;
}

.form__error {
  height: 20px;
  color: #ff0000;
  text-align: left;
  font-size: 15px;
}

.form__input--text input {
  padding: 10px;
  width: 100%;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 3px;
  appearance: none;
}

.form__input--text textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  appearance: none;
}


.form__input--text select {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  appearance: none;
}

.form__button {
  margin-top: 20px;
}

.form__button-submit {
  padding: 5px;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 3px;
  background: #EC615C;
  color: #fff;
  cursor: pointer;
  margin-bottom: 50px;
}

.login__link {
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}

.custom-file-upload {
  position: relative;
  display: flex;
  flex-direction: column; /* 縦方向に配置 */
  align-items: center;
  justify-content: center;
  border: 2px dotted #ddd;
  width: 100%;
  height: 300px;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}

#imagePreview {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: none;
}

/* file input の隠しスタイル */
#fileInput {
  display: none; /* 入力ボックスを非表示にする */
}

.custom-file-label {
  display: inline-block;
  padding: 5px 20px;
  color: #EC625C;
  border: 2px solid #EC625C;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.custom-file-upload input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.image-preview {
  margin-top: 10px;
  width: 200px; /* プレビューの幅を適宜調整 */
  height: auto;
}

.custom-file-upload img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.custom-file-label:hover {
  background-color: #FFE4B5;
}

@media (max-width: 768px) and (min-device-height: 768px) {

}

@media (max-width: 430px) {
  .sell-form__heading {
    font-size: 25px;
    margin-top: 30px;
  }

  .sell-form__heading h1 {
    font-size: 25px;
  }

  .form {
    width: 60%;
  }

  .custom-file-upload {
    height: 200px;
  }
}

@media (max-width: 375px) {
  .sell-form__heading {
    margin-top: 20px;
  }

  .form {
    width: 60%;
  }
}