.header {
  background: #000;
  padding: 5px 0px;
}

.header__inner {
  margin: 0 auto;
  padding: 5px 10px;
}

.header-utilities {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
  width: 60%;
}

.header__logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  margin-right: 20px;
}

.form__input--text {
  flex-grow: 1; /* 検索バーをできるだけ広く */
}

.form__input--text input {
  width: 70%;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  appearance: none;
}

.form__input--content input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  appearance: none;
  text-align: left;
}

.right-section {
  display: flex;
  align-items: center;
  width: 40%;
  padding-right: 20px;
}

ul.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-nav__link--mypage {
  color: #fff;
  text-decoration: none;
}

.header-nav__link--login {
  color: #fff;
  text-decoration: none;
}

.header-nav__link--register {
  color: #fff;
  text-decoration: none;
}

.header-nav__link--item {
  color: #000;
  text-decoration: none;
}

.header-nav__item:nth-child(3) {
  border: 1px solid #fff;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
}

.header-nav__button {
  width: 80px;
  align-items: center;
  margin-top: 2px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.profile-title {
  text-align: center;
  padding-top: 30px;
}

.profile-title h1 {
  font-size: 30px;
  font-weight: bold;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-image {
  padding-top: 30px;
  padding-bottom: 50px;
}

.user-info {
  display: flex;
  align-items: center;
}

.icon-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
}

.icon-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-file-label {
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  margin-left: 20px;
}

.user-image {
  display: flex;
  align-items: center;
  text-align: center;
}

.user-image p {
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
}

.edit-profile-button {
  background-color: #fff;
  color: #EC615C;
  border: 1px solid #EC615C;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.form__input--text input {
  padding: 10px;
  width: 100%;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 3px;
  appearance: none;
  text-align: left;
}

.header-utilities nav {
  width: 100%;
}

.header-nav__link--mypage {
  color: #fff;
  text-decoration: none;
}

.header-nav__link--login {
  color: #fff;
  text-decoration: none;
}

.header-nav__link--register {
  color: #fff;
  text-decoration: none;
}

.header-nav__link--item {
  color: #000;
  text-decoration: none;
}

.header-nav__item:nth-child(3) {
  border: 1px solid #fff;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
}

.header-nav__button {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.icon-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

form {
  width: 50%;
  text-align: center;
}

.form__group {
  margin-bottom: 5px;
}

.form__group-title {
  text-align: left;
  font-weight: bold;
}

.form__error {
  height: 20px;
  color: #ff0000;
  text-align: left;
  font-size: 15px;
}

.form__input--text input {
  padding: 10px;
  width: 100%;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 3px;
  appearance: none;
}

.form__button {
  margin-top: 20px;
}

.form__button-submit {
  padding: 5px;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 3px;
  background: #EC615C;
  color: #fff;
  cursor: pointer;
  margin-bottom: 50px;
}

.custom-file-upload {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dotted #ddd;
  width: 100%;
  height: 300px;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}

#imagePreview {
  display: none;
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000;
}

/* file input の隠しスタイル */
#fileInput {
  display: none; /* 入力ボックスを非表示にする */
}

.custom-file-label {
  display: inline-block;
  padding: 5px 20px;
  color: #EC625C;
  border: 2px solid #EC625C;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.image-preview {
  margin-top: 10px;
  width: 200px;
  height: auto;
}

.custom-file-upload img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.custom-file-label:hover {
  background-color: #FFE4B5;
}

.form__input--text input {
  margin: auto;
}

@media (max-width: 768px) and (min-device-height: 768px) {
  .header__logo {
    font-size: 12px;
  }

  .form__input--text input {
    font-size: 10px;
    width: 80%;
    height: 15px;
  }

  .form__input--content input {
    font-size: 12px;
  }

  .header-nav {
    font-size: 12px;
  }

  .right-section {
    width: 40%;
    padding-right: 10px;
  }

  .header-nav__button {
    font-size: 12px;
  }

  .user-image {
    margin: 0px;
    padding-left: 30px;
  }

  .icon-circle {
    width: 70px;
    height: 70px;
    margin: 0px;
  }

  .custom-file-label {
    margin-left: 20px;
  }
}

@media (max-width: 430px) {
  .header {
    padding: 0px;
  }

  .header__logo {
    font-size: 10px;
  }

  .form__input--text input {
    font-size: 10px;
    height: 20px;
    width: 100%;
  }

  .form__input--content input {
    font-size: 10px;
    height: 25px;
  }

  ul.header-nav {
    font-size: 10px;
  }

  .header-nav__button {
    font-size: 10px;
  }

  .header-nav__item:nth-child(3) {
    padding: 5px 10px;
}

  .right-section {
    padding-right: 0px;
    width: 50%;
  }

  .profile-title h1 {
    font-size: 25px;
  }

  .user-image {
    margin: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
  }

  .icon-circle {
    width: 60px;
    height: 60px;
    margin: 0px;
  }

  .custom-file-label {
    margin-left: 20px;
    padding: auto;
    font-size: 12px;
    margin: 10px;
  }
}

@media (max-width: 375px) {
 .header-utilities {
    display: flex;
    flex-direction: column;
  }

  .left-section {
    width: 100%;
  }

  .right-section {
    width: 100%;
    margin-top: 5px;
  }

  .profile-title h1 {
    font-size: 20px;
  }

  .user-image {
    margin: 0px;
    padding-left: 0px;
  }

  .icon-circle {
    width: 60px;
    height: 60px;
    margin: 0px;
  }

  .custom-file-label {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 10px;
  }
}